<!-- nav bar while NOT logged in -->
<nav>
<h1>listy</h1>
<% if (false){ %>

  <a id="register-btn" class="reg-log-nav-btn" href="#"><div>REGISTER</div></a>
  <a id="login-btn" class="reg-log-nav-btn" href="#"><div>LOGIN</div></a>


<% } else { %>

  <a href="#"><div>LOGOUT</div></a>
  <img src= "#">

<% } %>
</nav>

