<!-- nav bar while NOT logged in -->
<nav>
<h1>ToDo App!</h1>
<% if (true){ %>

  <a href="#"><div>REGISTER</div></a>
  <a href="#"><div>LOGIN</div></a>


<% } else { %>

  <a href="#"><div>LISTS</div></a>
  <a href="#"><div>ARCHIVE</div></a>
  <a href="#"><div>LOGOUT</div></a>
  <img src= "#">

<% } %>
</nav>
