<!-- nav bar while NOT logged in -->

<% if (!user){ %>
<nav>
  <h1>ToDo App!</h1>
  <a href="#"><div>LISTS</div></a>
  <a href="#"><div>ARCHIVE</div></a>
  <a href="#"><div>REGISTER</div></a>
  <a href="#"><div>LOGIN</div></a>
  <a href="#"><div>LOGOUT</div></a>
  <img src= "#">
</nav>

<% } else { %>
