<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <main>
      <nav>
        <h1>ToDo App!</h1>
        <a href="#"><div>LISTS</div></a>
        <a href="#"><div>ARCHIVE</div></a>
        <a href="#"><div>LOGOUT</div></a>
        <img src= "#">
      </nav>

    <section class="search-form-area">
      <form>
        <label for="email">To Do:</label>
        <input type="" name="">
        <a href="#"><div>ADD</div></a>
      </form>

      <div class="alerts"></div>

      <a id = "view-lists" href="#">
        <div>VIEW LISTS</div>
      </a>
      <section class="category-list">
        <a href="#"><div id="to-watch-list">Film / Series (To watch)</div></a>
        <a href="#"><div id="to-eat-list">Restaurants, cafes, etc. (To eat)</div></a>
        <a ref="#"><div id="to-read-list">Books (To read)</div></a>
        <a href="#"><div id="to-buy-list">Products (To buy)</div></a>
      </section>
    </section>

    </main>
  </body>
</html>
