<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400,500,700,800|Roboto:100,400,500,700" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/register.js"></script>
  </head>
  <% include partials/_header %>

  <body >
    <main
    class=

  <% if (!user){ %>

  "not_logged" >
  <section id="alerts-and-update-user">

    <section class="alerts"></section>

  </section>

  <section id="register-popup-section" class="reg-log-section">
    <form id="register-form" class="reg-log-form">
        <label for="name"></label>
        <input id ="name-reg-textarea" type="text" placeholder="Name" name="name">
        <label for="email"></label>
        <input id ="email-reg-textarea" type="text" name="email" placeholder="Email">
        <label for="password"></label>
        <input id ="password-reg-textarea" type="password" name="password" placeholder="Password">
        <a id ="register-submit-btn" class="reg-log-submit-btn" href="#">Register</a>
    </form>
  </section>

  <section id="login-popup-section" class="reg-log-section">
    <form id="login-form" class="reg-log-form">
        <label for="email"></label>
        <input id ="email-log-textarea" type="text" name="email" placeholder="Email">
        <label for="password"></label>
        <input id ="password-log-textarea" type="password" name="password" placeholder="Password">
        <a id ="login-submit-btn" class="reg-log-submit-btn" href="#">Login</a>
    </form>
  </section>

    <% } else { %>
  "logged" >
  <section id="alerts-and-update-user">

    <div class="alerts"></div>

    <aside id="update-user-info-section" class="hidden">

      <form id="update-user-form" class="update-form">
         <label for="name" placeholder="Full Name"></label>
         <input id ="update-name-textarea" type="text" name="name">
         <label for="email" placeholder="Email"></label>
         <input id ="update-email-textarea" type="text" name="email">
         <label for="password" placeholder="Enter password"></label>
         <input id ="update-password-textarea" type="password" name="password">
         <a id ="update-submit-btn" class="update-user-submit-btn" href="#">Update</a>
      </form>
    </aside>
  </section>



    <section class="search-form-area">
      <form id="search-form">
        <input id="form-textarea" type="text" name="item" placeholder="add something to a list">
        <a id="submit-btn" href="#">
          <div><i class="fa fa-plus" aria-hidden="true"></i></div>
        </a>
      </form>

      <section id="icon-category-btns-section">
        <div id="to-watch-list-btn">
          <a class="icon listHeader" href="#"><i class="fa fa-tv" aria-hidden="true"></i></a>
          <h4>Things to Watch</h4>
        </div>
        <div id="to-read-list-btn">
          <a class="icon listHeader" href="#"><i class="fa fa-book" aria-hidden="true"></i></a>
          <h4>Books to Read</h4>
        </div>
        <div id="to-eat-list-btn">
          <a class="icon listHeader" href="#"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
          <h4>Places to Eat</h4>
        </div>
        <div id="to-buy-list-btn">
          <a class="icon listHeader" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
          <h4>Things to Buy</h4>
        </div>
      </section>

      <div class="list-area list-to-watch">
        <ul class="list collapsed movie">
          <!-- <li> -->
            <!-- <div class="list-row">
              <p class="list-item-name movie">this is where app.js adds text for each item in db</p>
            </div> -->
          <!-- </li> -->
         </ul>
      </div>

      <div class="list-area list-to-read">
        <ul class="list collapsed book">
          <!-- <li> -->
            <!-- <div class="list-row">
              <p class="list-item-name book">this is where app.js adds text for each item in db</p>
            </div> -->
          <!-- </li> -->
         </ul>
      </div>

      <div class="list-area list-to-eat">
        <ul class="list collapsed restaurant">
          <!-- <li> -->
          <!-- <div class="list-row">
            <p class="list-item-name restaurant">this is where app.js adds text for each item in db</p>
          </div> -->
          <!-- </li> -->
        </ul>
      </div>

       <div class="list-area list-to-buy">
        <ul class="list collapsed product">
          <!-- <li> -->
            <!-- <div class="list-row">
            <p class="list-item-name product">this is where app.js adds text for each item in db</p>
            </div> -->
          <!-- </li> -->
        </ul>
      </div>

<!--    <a id= "view-lists" class="listHeader" href="#">
        <div>view lists</div>
        </a>
        <ul class="category-list collapsed">

        <li>
          <a href="#" id="to-watch-list-btn" class="listHeader ">things to watch</a>

           this ul is where app.js adds an <li> for each item in db -->
          <!-- <ul id="watch-list" class= "list collapsed movie"></ul>

        </li>

        <li>
        <a href="#" id="to-eat-list-btn" class="listHeader">places to eat</a>
          <ul id="eat-list" class= "list collapsed restaurant"> -->
          <!-- this ul is where app.js adds an <li> for each item in db -->
<!--       </ul>
        </li>

        <li>
          <a href="#" id="to-read-list-btn" class="listHeader">books to read</a>
          <ul id="read-list" class= "list collapsed book"> -->
            <!-- this ul is where app.js adds an <li> for each item in db -->
          <!-- </ul>
        </li>

        <li>
          <a href="#" id="to-buy-list-btn" class="listHeader">products to buy</a>
          <ul id="buy-list" class= "list collapsed product"> -->
            <!-- this ul is where app.js adds an <li> for each item in db -->
        <!--   </ul>
        </li>
        <li>
          <a href="#" id="other-list-btn" class="listHeader">other stuff</a>
          <ul id="other-list" class= "list collapsed other both neither"> -->
          <!-- this ul is where app.js adds an <li> for each item in db -->
      <!--     </ul>
        </li>
      </ul> -->


    </section>



    <% } %>

    </main>
  </body>
</html>
