<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <main>
      <nav>
        <h1>ToDo App!</h1>
        <a href="#"><div>LISTS</div></a>
        <a href="#"><div>ARCHIVE</div></a>
        <a href="#"><div>LOGOUT</div></a>
        <img src= "#">
      </nav>

    <section class="search-form-area">
      <form>
        <label for="email">To Do:</label>
        <input type="" name="">
        <a href="#"><div>ADD</div></a>
      </form>

      <div class="alerts"></div>

      <a id = "view-lists" class="listHeader" href="#">
        <div>VIEW LISTS</div>
      </a>
      <ul class="category-list collapsed">
        <li>
          <a href="#" id="to-watch-list-btn" class="listHeader">Film / Series (To watch)</a>
           <!-- this ul is where app.js adds an <li> for each item in db -->
          <ul id="watch-list" class= "list collapsed"></ul>
        </li>
        <li>
          <a href="#" id="to-eat-list-btn" class="listHeader">Restaurants, cafes, etc. (To eat)</a>
           <!-- this ul is where app.js adds an <li> for each item in db -->
          <ul id="eat-list" class= "list collapsed"></ul>
        </li>
        <li>
          <a href="#" id="to-read-list-btn" class="listHeader">Books (To read)</a>
           <!-- this ul is where app.js adds an <li> for each item in db -->
          <ul id="read-list" class= "list collapsed"></ul>
        </li>
        <li>
          <a href="#" id="to-buy-list-btn" class="listHeader">Products (To buy)</a>
           <!-- this ul is where app.js adds an <li> for each item in db -->
          <ul id="buy-list" class= "list collapsed"></ul>
        </li>
      </ul>
    </section>

    </main>
  </body>
</html>
