<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <main>
      <nav>
        <h1>ToDo App!</h1>
        <a href="#"><div>LISTS</div></a>
        <a href="#"><div>ARCHIVE</div></a>
        <a href="#"><div>REGISTER</div></a>
        <a href="#"><div>LOGIN</div></a>
        <a href="#"><div>LOGOUT</div></a>
        <img src= "#">
      </nav>

    <section class="search-form-area">
      <form id="search-form">
        <label for="list-item">To Do:</label>
        <input id ="form-textarea" type="text" name="item">
        <a id ="submit-btn" href="#"><div>ADD</div></a>
      </form>

      <div class="alerts"></div>
      <div class="flash-buttons-section">
      <a class="flash-category-btn" href="#">Book</a>
      <a class="flash-category-btn" href="#">Movie</a>
      <a class="flash-update-btn" href="#">Update</a>
      <a class="flash-delete-btn" href="#">Delete</a>
      </div>



      <a id = "view-lists" class="listHeader" href="#">
        <div>VIEW LISTS</div>
      </a>
      <ul class="category-list collapsed">
        <li>
          <a href="#" id="to-watch-list-btn" class="listHeader ">Film / Series (To watch)</a>
           <!-- this ul is where app.js adds an <li> for each item in db -->
          <ul id="watch-list" class= "list collapsed movie"></ul>
        </li>
        <li>
          <a href="#" id="to-eat-list-btn" class="listHeader">Restaurants, cafes, etc. (To eat)</a>
           <!-- this ul is where app.js adds an <li> for each item in db -->
          <ul id="eat-list" class= "list collapsed eat"></ul>
        </li>
        <li>
          <a href="#" id="to-read-list-btn" class="listHeader">Books (To read)</a>
           <!-- this ul is where app.js adds an <li> for each item in db -->
          <ul id="read-list" class= "list collapsed book"></ul>
        </li>
        <li>
          <a href="#" id="to-buy-list-btn" class="listHeader">Products (To buy)</a>
           <!-- this ul is where app.js adds an <li> for each item in db -->
          <ul id="buy-list" class= "list collapsed product"></ul>
        </li>
        <li>
          <a href="#" id="other-list-btn" class="listHeader">Other Stuff</a>
           <!-- this ul is where app.js adds an <li> for each item in db -->
          <ul id="other-list" class= "list collapsed other both neither"></ul>
        </li>
      </ul>
    </section>

    </main>
  </body>
</html>
