body {
  background-color: #fff;

  section.search-form-area {
    margin-top:180px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: #fff;

  h1 {
    color: #244751;
  }
  form {
    font-size:20px;
    margin-top:2vw;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    label{
      margin-right:10px;
      font-size:49px;

    }
  a {
    text-decoration: none;
    color:#fff;
    padding: 10px;
    border: 2px solid;
    margin-left:10px;
  }
  input {
    padding:10px;
  }
  }
 }
}




nav {
  top:0;
  height:80px;
  width:100%;
  position:fixed;
  background-color:#fff;
  opacity: 0.9;
  display:flex;
  align-items: center;
  justify-content:space-around;
 a {
  text-decoration: none;
 }

}

main {
    display: flex;
    justify-content: center;

}


.alerts {
  height:100px;
  display:flex;
  align-items:center;
  text-align:center;

}

.flash-buttons-section{
  display:flex;

}

.flash-category-btn {
  height:35px;
  width:75px;
  background-color:#eee;
  border-radius: 5px;
  border:2px solid #666;
  margin:20px;
  display:none;
  text-decoration: none;


}
.flash-update-btn {
  height:35px;
  width:75px;
  background-color:#eee;
  border-radius: 5px;
  border:2px solid #666;
  margin:20px;
  display:none;
  text-decoration: none;

}

.flash-delete-btn {
  height:35px;
  width:75px;
  background-color:#eee;
  border-radius: 5px;
  border:2px solid #666;
  margin:20px;
  display:none;
  text-decoration: none;

}

#view-lists {
  color:#fff;
  width:99%;
  font-size:20px;
  text-decoration:none;
  border: 2px solid;
  text-align:center;
  padding:30px;
}
#view-lists:hover {


}

.category-list {
  display:none;
  width: 99%;
  text-align:center;
  padding-left:0;
  list-style: none;
  margin:0;
  a {
    color:#fff;
    display:block;
    text-decoration:none;
    padding: 25px;
  }
}


#to-watch-list-btn {
    background-color: #A040A0;

  }
#to-eat-list-btn {
    background-color: #B060B0;
  }
#to-read-list-btn {
    background-color: #C080C0;
  }
#to-buy-list-btn {
    background-color: #CF9FCF;
  }

#other-list-btn {
  background-color: #CF9FCF;

}

.list {
    height:auto;
    padding: 20px;
    margin: 0 0 30px 0;
  li {
    list-style: none;
    padding:10px;
   }
}

.collapsed {
  display:none;
}

.reg-log-section {
  margin-top: 250px;
  display:none;

}
























































.reg-log-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color:#312550;

}







.reg-log-form input {
  padding: 30px 30px;
  width: 350px;
  height: 40px;
  background: transparent;
  margin-top: 15px;
  outline: none;
  color: #fff;
  border: none;
  border-bottom: 8px solid #FF4A15;

}


main.not_logged {
 background-image: url("../images/notebook-img-home-page.jpg");
 background-position: center top;
 height: 100vh;
 width: 100vw;
}

input::-webkit-input-placeholder {
    color: transparent;
}


.reg-log-submit-btn {
  text-decoration: none;
  font-size: 38px;
  padding: 10px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  margin-top:10px;

}

.reg-log-nav-btn {
  padding:0;
}

.update-and-delete-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.list.movie > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

